<div class="show"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9Y3XM-Zd10KgeTJgIqs0fMVCWnTI86UIbMj2k-X--1ko8rQ/viewform?embedded=true" frameborder="0"
 marginheight="0" marginwidth="0"class="show">読み込んでいます…</iframe>
 <p class=masa>© 2024 Masaki_yoshida.</p>

 </div>








